// Homepage styles

section {
  padding: 5vw;
  padding: clamp(1rem, 5vw, 4rem);
}

.kbb-quotes {
  background-color: mix($color-darkblue, rgba(0, 0, 0, 0.854), 33%);
  color: #fff;
  padding: 3em;

  blockquote {
    font-size: 1.25em;
  }
}

.kbb-impact {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );
  grid-template-rows: masonry;
  masonry-auto-flow: next;
}

.kbb-impact-large {
  background-color: desaturate($color-green, 5%);
  color: $color-gray;
  font-size: 1.25em;
  padding: 1em 2em;
}

.kbb-impact-results {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
  font-weight: 700;

  em {
    color: $color-orange;
    display: block;
    font-size: 5em;
    font-style: normal;
    text-indent: -0.04em;
  }
}

.kbb-impact-fact {
  line-height: 1.2;
  padding: 30px;

  &.span-2 {
    @media screen and (min-width: 1600px) {
      grid-column: span 2;
    }
  }
}

.kbb-callouts {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.kbb-callouts-title {
  grid-column: 1/-1;
}

.kbb-commit,
.kbb-callout {
  text-align: center;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-direction: column;

  .kbb-button {
    margin-top: auto;
  }
}
