// Homepage styles

section {
	padding: 5vw;
	padding: clamp(1rem, 5vw, 4rem); 
}

.bv-quotes {
	background-color: mix($color-darkblue, rgba(0, 0, 0, 0.854), 33%);
	color: #fff;
	padding: 3em;

	blockquote {
		font-size: 1.25em;
	}
}

.bv-impact {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat( auto-fit, minmax(450px, 1fr) );
	grid-template-rows: masonry;
	masonry-auto-flow: next;
}

.bv-impact-large {
	background-color: desaturate($color-orange, 5%);
	color: #fff;
	font-size: 1.25em;
	padding: 1em 2em;
}

.bv-impact-results {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
	font-weight: 700;

	em {
		color: $color-orange;
		display: block;
		font-size: 5em;
		font-style: normal;
		text-indent: -0.04em;
	}
}

.bv-impact-fact {
	line-height: 1.2;
	padding: 30px;

	&.span-2 {
		@media screen and ( min-width: 1600px ) {
			grid-column: span 2;
		}
	}
}

.bv-callouts {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.bv-callouts-title {
	grid-column: 1/-1;
}

.bv-commit,
.bv-callout {
	text-align: center;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
	flex-direction: column;

	.bv-button {
		margin-top: auto;
	}
}
